.wrapper p {
    font-size: 7 rem;
    text-align: center;
    color: black;
    margin: 0;
    line-height: 0;
font-family: montserrat;
font-weight: 700;
   
}

.container-about{
height: 100px;
padding: 50px;
}
