* {
  --font-main: "Montserrat", sans-serif;
  --font-subTitle: "Lora", serif;
  --font-secundary: "Hind Madurai", sans-serif;
  --own-white: #f0ebeb;
  --own-black: #13131a;
  scroll-behavior: smooth;
}
